.pcs-housing-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.pcs-housing-icon32 {
  margin-right: 8px;
}
 
.pcs-housing-container25 {
  display: none;
}
 
.pcs-housing-container26 {
  display: contents;
}
 
.pcs-housing-container27 {
  display: none;
}
 
.pcs-housing-container28 {
  display: contents;
}
