.hero17-thq-header78-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-thq-column-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero17-thq-content-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-thq-text-elm1 {
  text-align: center;
}
 
.hero17-thq-text-elm2 {
  text-align: center;
}
 
.hero17-thq-actions-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.hero17-thq-content-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero17-thq-row-container-elm1 {
  width: 100%;
}
 
.hero17-thq-placeholder-image-elm10 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm11 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm12 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm13 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm14 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm15 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm16 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm17 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm18 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm19 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm20 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm21 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-row-container-elm2 {
  width: 100%;
}
 
.hero17-thq-placeholder-image-elm22 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm23 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm24 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm25 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm26 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm27 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm28 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm29 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm30 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm31 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm32 {
  width: 400px;
  height: 400px;
}
 
.hero17-thq-placeholder-image-elm33 {
  width: 400px;
  height: 400px;
}
 
.hero17-container2 {
  display: contents;
}
 
.hero17-text1 {
  display: inline-block;
}
 
.hero17-text2 {
  display: inline-block;
}
 
.hero17-text3 {
  display: inline-block;
}
 
.hero17-text4 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero17-thq-content-elm2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .hero17-thq-actions-elm {
    width: 100%;
    flex-direction: column;
  }
  .hero17-thq-button-elm1 {
    width: 100%;
  }
  .hero17-thq-button-elm2 {
    width: 100%;
  }
}
