.navbar8-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-thq-image1-elm {
  height: 3rem;
}
 
.navbar8-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-thq-links-elm1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-thq-link1-elm1 {
  text-decoration: none;
}
 
.navbar8-thq-link3-elm1 {
  text-decoration: none;
}
 
.navbar8-thq-link4-dropdown-trigger-elm {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-thq-icon-container-elm1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar8-icon10 {
  width: 24px;
  height: 24px;
}
 
.navbar8-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar8-icon12 {
  width: 24px;
  height: 24px;
}
 
.navbar8-thq-buttons-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-thq-action1-elm1 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-thq-action2-elm1 {
  display: flex;
  flex-direction: row;
}
 
.navbar8-thq-burger-menu-elm {
  display: none;
}
 
.navbar8-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar8-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar8-thq-logo-elm {
  height: 3rem;
}
 
.navbar8-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar8-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar8-thq-links-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-link1-elm2 {
  text-decoration: none;
}
 
.navbar8-thq-link3-elm2 {
  text-decoration: none;
}
 
.navbar8-thq-link4-accordion-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-trigger-elm {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar8-thq-icon-container-elm2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-icon18 {
  width: 24px;
  height: 24px;
}
 
.navbar8-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-icon20 {
  width: 24px;
  height: 24px;
}
 
.navbar8-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar8-thq-menu-item-elm1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-thq-page1-image-elm1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-thq-content-elm1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-thq-page1-elm1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-thq-page2-image-elm1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-thq-content-elm2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-thq-page2-elm1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-thq-page3-image-elm1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-thq-content-elm3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-thq-page3-elm1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-thq-page4-image-elm1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-thq-content-elm4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-thq-page4-elm1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-buttons-elm2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar8-thq-icon-group-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar8-container7 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar8-thq-link5-menu-list-elm {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.navbar8-thq-menu-item-elm5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-thq-page1-image-elm2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-thq-content-elm5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-page1-elm2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-thq-page2-image-elm2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-thq-content-elm6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-page2-elm2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-thq-page3-image-elm2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-thq-content-elm7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-page3-elm2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-thq-menu-item-elm8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-thq-page4-image-elm2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-thq-content-elm8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-thq-page4-elm2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-container8 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-text14 {
  display: inline-block;
}
 
.navbar8-text15 {
  display: inline-block;
}
 
.navbar8-text16 {
  display: inline-block;
}
 
.navbar8-text17 {
  display: inline-block;
}
 
.navbar8-text18 {
  display: inline-block;
}
 
.navbar8-text19 {
  display: inline-block;
}
 
.navbar8-text20 {
  display: inline-block;
}
 
.navbar8-text21 {
  display: inline-block;
}
 
.navbar8-text22 {
  display: inline-block;
}
 
.navbar8-text23 {
  display: inline-block;
}
 
.navbar8-text24 {
  display: inline-block;
}
 
.navbar8-text25 {
  display: inline-block;
}
 
.navbar8-text26 {
  display: inline-block;
}
 
.navbar8-text27 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar8-thq-navbar-interactive-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar8-thq-desktop-menu-elm {
    display: none;
  }
  .navbar8-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar8-thq-mobile-menu-elm {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .navbar8-container6 {
    grid-gap: 0;
  }
  .navbar8-thq-link5-menu-list-elm {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar8-thq-navbar-interactive-elm {
    padding: var(--dl-layout-space-unit);
  }
  .navbar8-thq-mobile-menu-elm {
    padding: var(--dl-layout-space-unit);
  }
}
