.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 143px;
}
 
.navigation-image {
  width: 200px;
  object-fit: cover;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
@media(max-width: 1200px) {
  .navigation-thq-navigation-logo-link-elm1 {
    width: 132px;
    height: 79px;
  }
  .navigation-image {
    width: 100%;
    height: 87px;
  }
}
